/* Catppuccin Mocha */

@define-color background #1e1e2e;
@define-color surface #313244;
@define-color surface_container #313244;
@define-color surface_container_high #45475a;
@define-color surface_container_highest #585b70;
@define-color surface_container_low #2a2b3c;
@define-color surface_container_lowest #181825;

@define-color primary #cba6f7;               /* Mauve */
@define-color secondary #89b4fa;             /* Blue */
@define-color tertiary #f9e2af;              /* Yellow */

@define-color error #f38ba8;                 /* Red */

@define-color on_background #cdd6f4;
@define-color on_surface #cdd6f4;
@define-color on_surface_variant #bac2de;
@define-color outline #6c7086;
@define-color shadow #000000;
@define-color scrim #000000;