/* ACCENTS */
@define-color primary   #ccbeff;
@define-color secondary #cac3dc;
@define-color tertiary  #eeb8cb;

/* TEXT */
@define-color on_surface #e6e1e9;
@define-color outline    #938f99;

/* SURFACES */
@define-color surface        #141318;
@define-color surface_low    #201f24;
@define-color surface_high   #2b292f;
@define-color surface_higher #36343a;

/* STATES */
@define-color error     #ffb4ab;
@define-color on_error  #690005;